# ============================================================
# PostgreSQL DataStore360
# ============================================================

POSTGRES_DB=datastore360

POSTGRES_USER=user_name

POSTGRES_PASSWORD=password


# ============================================================
# pgAdmin
# ============================================================

PGADMIN_EMAIL=email@example.com

PGADMIN_PASSWORD=password


# ============================================================
# Airflow
# ============================================================

AIRFLOW_SECRET_KEY=change_this_to_a_long_random_secret_key
